html {
	min-height: 100%;
	margin-bottom: 1px;
}

body {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
	font-size: 13px;
	line-height: 18px;
	background-image:url('/images/2013/keyboard.png');
	background-size: cover;
}

body > header {
	height: 133px;
}

#mainDiv {
	border: 0;
	position:relative;
	z-index:10;
	margin-left:auto;
	margin-right:auto;
	width:910px;
	background-color:#ffffff;
	padding-top:40px;
	padding-bottom:20px;
	-webkit-border-bottom-left-radius: 20px;
	   -moz-border-bottom-left-radius: 20px;
			border-bottom-left-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	   -moz-border-bottom-right-radius: 20px;
			border-bottom-right-radius: 20px;
}

#breadcrumbs {
	padding-bottom: 15px;
	border-bottom: 1px solid #000000;
	margin-bottom: 15px;
}


#content {
	width: 100%;
	height: 100%;
	background-image: none;
	overflow: auto;
}

#content #left {
	margin-left: 20px;
	width: 200px;
	float: left;
}

#content #left ul {
	padding-top: 15px;
	padding-bottom: 15px;
	background: #e0e0e0;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
			border-radius: 10px;
}

#content #right {
	margin-left: 20px;
	width: 650px;
	display: inline-block;
	position: relative;
}


body > footer {
  background: none;
  padding-top:10px;
  margin-left:auto;
  margin-right:auto;
}

body > footer address {
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

address {
	font-style: normal;
}

table.simple {
	width: 100%;
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
}

table.simple tr {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
}

table.simple td,
table.simple th {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	background-color: white;
}
