table th {
	color: black;
}
#faq-contents .faq-item {
	border-top: none;
}
#faq-contents .faq-item-box {
    color: inherit;
    padding: 0;
    border-top: none;
    background: #fff;
}
.default-table tbody td, th {
	border-left: 1px solid #CCC;
}	
form.f-wrap-1 {
	border-top: none;
}	
form.f-wrap-request {
	border-top: none;
	background: #fff;	
}
form.f-wrap-request label b {
    width: 100%;
}    
#StatusGroup, #Department, #NVTGC, #AcceptNonEnglish, #AcceptAlternateEdition {
	padding: 10px 2%;
}
#Department {
	max-width: 220px;
}
form.f-wrap-request div.req {
	position: inherit;
	display: block;
	margin-bottom: 10px;
}
form.f-wrap-request label {
	border-bottom: none;
}
form.f-wrap-request label .field .req {
	position: relative;
	top: 0;
	left: 0;
}	
form.f-wrap-request fieldset {
    margin: 0;
}
.bp-body input, .bp-body-1c input {
    max-width: 220px;
}    
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
input.f-submit  {
	display: inline-block;
	padding: 10px 20px;
	text-shadow: 2px 2px 4px #005DAA;
	border-radius: 5px;
	margin: 0px 10px 10px 0px;
	background: none repeat scroll 0% 0% #39F;
	color: #FFF;
	border-width: 1px 1px 2px;
	border-color: #005DAA;
	text-decoration: none;
	border-style: solid;
	background: none repeat scroll 0% 0% #39F;
	color: #FFF;
	border-width: 1px 1px 2px;
	border-color: #005DAA;
	text-decoration: none;
	border-style: solid;
	display: inline-block;
	padding: 10px 20px;
	text-shadow: 2px 2px 4px #005DAA;
	border-radius: 5px;
}
input.f-submit:hover {
	background: #eeb111; 
	color: #00447c; 
	text-shadow: 2px 2px 4px #ffe894; 
	border-color: #f47b20; 
	border-width: 1px 1px 2px;
    text-decoration: none;
    border-style: solid;
}
form.f-wrap-request label input, form.f-wrap-request label textarea, form.f-wrap-request label select {
    width: inherit;
    float: left;
    margin-left: inherit;
}
form.f-wrap-request label textarea {
    resize: none;
	display: block;
	margin-bottom: 20px;
	width: 95%;
	max-width: 550px;
}
form.f-wrap-request div.f-submit-wrap {
    padding: 0;
}
form.f-wrap-request input.f-submit {
    margin: 0;
}
